.about-me {
    padding: 6.2vw 0 6.8vw;

    .about-me__container {
        display: flex;
        flex-direction: column;
    }
    
    @media (min-width: 1150px) and (max-width: 1274px) {
        .about-me__container {
            margin-left: 33%;
        }
    }

    @media (min-width: 1025px) and (max-width: 1149px) {
        .about-me__container {
            max-width: 47.5%;
            margin-left: 38%;
        }
    }

    .about-me__undertitle {
        margin: 0 0 20px;
    }

    .about-me__text {
        max-width: 885px;

        &:not(:last-child) {
            margin: 0 0 35px;
        }

        &:last-child {
            margin: 0 0 44px;
        }
    }

    .about-me__info {
        padding: 53px 4.6%;
        margin: 0 0 44px;

        .about-parametr {
            flex-basis: 40%;

            .about-parametr__title {
                color: $primary-color-1;
            }

            @media (max-width: 849px) {
                .about-parametr__title {
                    flex-grow: 1;
                }
            }

            .about-parametr__data {
                flex-grow: 1;
                text-align: right;
            }
            
        }

        @media (max-width: 1274px) {
            .about-parametr {
                flex-basis: 75%;
                margin: 0 auto;
            } 
        }

        @media (min-width: 1025px) and (max-width: 1149px) {
            .about-parametr {
                flex-basis: 100%;
            }
        }

        @media (max-width: 849px) {
            .about-parametr {
                flex-basis: 75%;
                margin: 0 auto;
            }
        }

        @media (max-width: 424px) {
            .about-parametr {
                flex-basis: 100%;
            }
        }
    }

    .about-me__bottom {
        display: flex;
        column-gap: 1.5%;
        align-items: center;

        .about-me__bottom__btn {

            svg {
                display: block;
                margin: 0 7px 0 0;
            }
        }
    }

    @media (max-width: 424px) {
        .about-me__bottom {
            flex-direction: column;
        }
    }
}