.about-me {
    padding: 6.2vw 0 6.8vw;

    .about-me__undertitle {
        margin: 0 0 20px;
    }

    .about-me__text {
        max-width: 885px;

        &:not(:last-child) {
            margin: 0 0 35px;
        }

        &:last-child {
            margin: 0 0 44px;
        }
    }

    .about-me__info {
        background-color: #f8f8f8;
        padding: 53px 4.6%;
        display: flex;
        justify-content: space-between;
        row-gap: 22px;
        flex-wrap: wrap;
        max-width: 926px;
        margin: 0 0 44px;

        .about-parametr {
            display: flex;
            flex-basis: 40%;

            .about-parametr__title {
                color: $primary-color-1;
            }

            @media (max-width: 849px) {
                .about-parametr__title {
                    flex-grow: 1;
                }
            }

            .about-parametr__data {
                flex-grow: 1;
                text-align: right;
            }
            
        }

        @media (max-width: 849px) {
            .about-parametr {
                flex-basis: 75%;
                margin: 0 auto;
            }
        }

        @media (max-width: 424px) {
            .about-parametr {
                flex-basis: 100%;
            }
        }
    }

    .about-me__bottom {
        display: flex;
        column-gap: 1.5%;
        align-items: center;

        .about-me__bottom__btn {

            svg {
                display: block;
                margin: 0 7px 0 0;
            }
        }
    }

    @media (max-width: 424px) {
        .about-me__bottom {
            flex-direction: column;
        }
    }
}