.certification-section {
    padding: 7.2vw 0;
    background-image: url("../assets/images/certification-section/background.jpg");
    background-size: cover;
    margin: 0 0 7.65vw;

    .certification-section__container {
        display: flex;

        .certification-section__description {
            max-width: 27%;

            .certification-section__title {
                color: white;
            }

            .certification-section__undertitle {
                background-color: $primary-color-2;
                margin: 0 0 21px;
            }
            
            .certification-section__description__text {
                color: white;
            }
        }
        
        .certification-section__cards {
            display: flex;
            column-gap: 2.3%;
            
            .card-certification {
                flex-basis: 41%;
                padding: 35px;
                background-color: $primary-color-2;
                color: white;
                border-radius: 20px;

                .card-certification_year {
                    padding: 2px 12px;
                    background-color: white;
                    border-radius: 40px;
                    font-family: Inter;
                    font-weight: 500;
                    font-size: 1.4rem;
                    line-height: 19/14 * 100%;
                    letter-spacing: 0.5px;
                    color: $primary-color-2;
                    margin: 0 0 12px auto;
                    max-width: max-content;
                }

                .card-certification__title-block {
                    display: flex;
                    column-gap: 2.9%;
                    margin: 0 0 26px;
                    
                    .card-certification__title {
                        font-family: Cabin;
                        font-weight: 600;
                        font-size: 3rem;
                        line-height: 31.5/30 * 100%;
                    }
                }

                hr {
                    width: 31%;
                    height: 3px;
                    background-color: $primary-color-1;
                    margin: 0 0 32px;
                }

                .card-certification__text {
                    font-family: Martel;
                    font-size: 2.5rem;
                    line-height: 42/25 * 100%;
                    margin: 0 0 18px;
                    color: white;
                }
                
                .card-certification__description {
                    color: white;
                    margin: 0 0 25px;
                }
            }
        }
    }
}