.clients-section {
    padding: 6.9vw 0 0;
    color: $primary-color-2;
    margin: 0 0 44px;

    .clients-section__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    @media (min-width: 1025px) and (max-width: 1274px) {
        .clients-section__container {
            margin-left: 33%;
        }
    }

    .clients-section__undertitle {
        margin: 0 0 39px;
    }

    .clients__carousel {
        display: flex;
        align-items: center;
        margin: 0 0 21px;
        max-width: 570px;
        justify-content: space-between;

        .clients__carousel__arrow {
            padding: 8px 9px;
            border-radius: 42px;
            background-color: $primary-color-4;
            display: flex;
            align-items: center;
            column-gap: 10px;
            min-width: 111px;
            cursor: pointer;
            transition: all 0.2s start;

            &.clients__carousel__arrow_right {
                
                svg {
                    transform: rotate(180deg);
                }
            }

            p {
                font-family: Inter;
                font-size: 1.8rem;
                line-height: 29/18 * 100%;
                transition: all 0.2s start;
            }

            &:hover {
                background-color: #484848;

                p {
                    color: white;
                }
            }
        }

        @media (max-width: 599px) {
            .clients__carousel__arrow {
                display: none;
            }
        }

        .clients__carousel__clients-block {
            display: flex;
            overflow: hidden;
            justify-content: space-between;

            .clients__carousel__client {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                min-width: 100%;
                transition: all 0.5s ease-out;

                &.clients__carousel__client_1-client {
                    margin-left: 0;
                }

                &.clients__carousel__client_2-client {
                    margin-left: -100%;
                }

                &.clients__carousel__client_3-client {
                    margin-left: -200%;
                }
                
                img {
                    margin: 0 auto 14px;
                }

                h3 {
                    font-family: Martel;
                    font-size: 2.5rem;
                    line-height: 42/25 * 100%;
                    min-width: max-content;
                    margin: 0 auto;
                }

                p {
                    font-family: Inter;
                    font-size: 1.6rem;
                    line-height: 22/16 * 100%;
                    color: $primary-color-1;
                    text-align: center;
                    margin: 0 auto;    
                }
            }

            @media (max-width: 599px) {
                .clients__carousel__client {
                    order: 0;
                    flex-basis: 100%;
                }
            }
        }
    }

    @media (max-width: 599px) {
        .clients__carousel {
            max-width: 427.5px;
            flex-wrap: wrap;
            align-items: center;
            row-gap: 20px;
        }
    }

    .clients__carousel__radio-block {
        flex-basis: 100%;
        display: none;
        column-gap: 10px;
        justify-content: center;

        input {

            &:checked + label {
                background-color: $primary-color-3;
            }
        }

        label {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            border: 1px solid $font-color-2;
            padding: 2px;
            background-clip:content-box;
        }
    }

    @media (max-width: 599px) {
        .clients__carousel__radio-block {
            display: flex;
        }
    }

    .clients-section__review {
        font-weight: 300;
        font-style: italic;
        color: $primary-color-2;
        text-align: center;
        max-width: 59%;
        margin: 0 0 9.3vw;
    }

    @media (max-width: 1374px) {
        .clients-section__review {
            max-width: 84%;
        } 
    }

    @media (max-width: 674px) {
        .clients-section__review {
            max-width: 100%;
        } 
    }

    @media (max-width: 574px) {
        .clients-section__review {
            font-size: 1.5rem;
        } 
    }

    .clients-section_footer {
        display: flex;
        column-gap: 4.3%;
        align-items: center;
        row-gap: 20px;
        justify-content: center;
    }

    @media (max-width: 1174px) {
        .clients-section_footer {
            flex-wrap: wrap;
        }
    }
}