.let-is-talk {
    margin: 0 0 6.25vw;

    .let-is-talk__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    
        .let-is-talk__undertitle {
            color: $font-color-2;
            max-width: 60%;
            margin: 0 0 5.7%;
            text-align: center;
        }

        @media (min-width: 1025px) and (max-width: 1174px) {
            .let-is-talk__undertitle {
                max-width: 80%;
            }
        }

        @media (max-width: 774px) {
            .let-is-talk__undertitle {
                max-width: 95%;
            }
        }

        @media (max-width: 524px) {
            .let-is-talk__undertitle {
                font-size: 1.35rem;
            }
        }
    
        .let-is-talk__main {
            display: flex;
            column-gap: 2.9%;
    
            .let-is-talk__form {
                flex-basis: 55%;
            }
    
            @media (max-width: 1524px) {
                .let-is-talk__form {
                    flex-basis: 41%;
                }
            }

            @media (max-width: 1174px) {
                .let-is-talk__form {
                    flex-basis: 90%;
                }
            }
    
            .cv-talk {
                flex-basis: 39%;
                padding: 45px;
                border-radius: 30px;
                background-color: #f8f8f8;
                
                .cv-talk__header {
                    background-image: url("../assets/images/let-is-talk-section/cv-talk__header-image.svg");
                    background-repeat: no-repeat;
                    background-position: right;
                    margin: 0 0 45px;
    
                    h3 {
                        font-family: Martel;
                        font-size: 3rem;
                        line-height: 51/30 * 100%;
                    }
    
                    p {
                        color: $primary-color-1;
                    }
                }

                @media (max-width: 430px) {
                    .cv-talk__header {
                        margin: 0 0 19px;
                    }
                }
    
                .about-parametr {
                    flex-basis: 100%;
                }

                @media (max-width: 430px) {
                    .about-parametr {
                        flex-direction: column;
                    } 
                }
            }
    
            @media (min-width: 1175px) and (max-width: 1524px) {
                .cv-talk {
                    flex-basis: 52%;
                }
            }

            @media (max-width: 1174px) {
                .cv-talk {
                    flex-basis: 69%;
                }
            }

            @media (max-width: 599px) {
                .cv-talk {
                    flex-basis: 92%;
                }
            }

            @media (max-width: 430px) {
                .cv-talk {
                    flex-basis: 100%;
                }
            }
        }

        @media (max-width: 1174px) {
            .let-is-talk__main {
                flex-wrap: wrap;
                row-gap: 40px;
            }
        }
    }
    
    @media (min-width: 1151px) and (max-width: 1274px) {
        .let-is-talk__container {
            margin-left: 33%;
        }
    }

    @media (min-width: 1025px) and (max-width: 1150px) {
        .let-is-talk__container {
            margin-left: 38%;
        }
    }
}