.title {
  font-family: Poppins;
  color: #030211;
  font-weight: 600;
  line-height: 150%;
}
.title.title-1 {
  font-size: 8rem;
  font-weight: 700;
}
.title.title-2 {
  font-size: 4rem;
}
.title.title-3 {
  font-size: 3.5rem;
}
.title.title-4 {
  font-size: 3rem;
}
.title.title-5 {
  font-size: 2.5rem;
}
.title.title-6 {
  font-size: 2.2rem;
}
.title.title-font-7 {
  font-size: 2rem;
}

.section-title {
  font-family: Martel;
  font-size: 4rem;
  line-height: 167.5%;
}

.section-undertitle {
  padding: 2px 11px;
  border-radius: 40px;
  font-family: Inter;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 135.7142857143%;
  letter-spacing: 40.5%;
  color: white;
  background-color: #AB5429;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  text-transform: uppercase;
}

.paragraph__title {
  font-family: Poppins;
  font-size: 2rem;
  line-height: 104%;
  font-weight: 600;
  margin: 0 0 15px;
  color: #211932;
}

.paragraph__text {
  font-family: Inter;
  font-size: 2rem;
  line-height: 135%;
  color: #484848;
}

.paragraph__text-2 {
  font-family: Inter;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 133.3333333333%;
  color: #484848;
}

.btn {
  width: 173px;
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 35px;
  background-color: #211932;
  color: white;
  font-family: Inter;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 135%;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.btn:hover {
  border: 1.5px solid #211932;
  background-color: white;
  color: #211932;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.6rem;
  line-height: 135%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 8%;
          column-gap: 8%;
  row-gap: 30px;
}
.form .form__label {
  -ms-flex-preferred-size: 42%;
      flex-basis: 42%;
  margin: 0 0 30px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.form .form__label p {
  color: #211932;
  font-family: Inter;
  margin: 0 0 9px;
}
.form .form__label input,
.form .form__label textarea {
  width: 100%;
  padding: 21.5px 9.6%;
  background-color: #F8F8F8;
  font-family: Inter;
  color: #AB5429;
  border-radius: 37px;
}
.form .form__label.form__label_textarea {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin: 0;
}
.form .form__label.form__label_textarea input {
  padding: 17px 4.5%;
}

.info-block {
  background-color: #f8f8f8;
  padding: 53px 4.6%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 22px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 926px;
  margin: 0 0 44px;
}
.info-block .info-block__parametr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}
.info-block .info-block__parametr .info-block__parametr__title {
  color: #AB5429;
}
@media (max-width: 849px) {
  .info-block .info-block__parametr .info-block__parametr__title {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}
.info-block .info-block__parametr .info-block__parametr__data {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right;
}
@media (max-width: 849px) {
  .info-block .info-block__parametr {
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
    margin: 0 auto;
  }
}
@media (max-width: 424px) {
  .info-block .info-block__parametr {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}
@media (max-width: 374px) {
  .info-block .info-block__parametr {
    font-size: 1.5rem;
  }
}

.welcome-section {
  padding: 12vh 0 30vh;
  background: url("../assets/images/welcome-section/background.jpg");
  position: relative;
  background-size: cover;
}
.welcome-section .welcome-section__substrate {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.25);
  display: none;
}
@media (min-width: 800px) and (max-width: 1675px) {
  .welcome-section .welcome-section__substrate {
    display: block;
  }
}
.welcome-section .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.4%;
          column-gap: 1.4%;
  margin: 0 0 11vh;
  position: relative;
  z-index: 1;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.welcome-section .header .header__main {
  padding: 15px 35px;
  border-radius: 35px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 16px;
          column-gap: 16px;
}
.welcome-section .header .header__main .header__section:first-child {
  padding-right: 13px;
  border-right: 1px solid #AB5429;
}
@media (max-width: 399px) {
  .welcome-section .header .header__main {
    display: none;
  }
}
.welcome-section .header .header__burger-btn {
  width: 58px;
  aspect-ratio: 1;
  border-radius: 100%;
  background-color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 4px;
  padding: 0 16px;
  display: none;
}
.welcome-section .header .header__burger-btn div {
  height: 2px;
  width: 12px;
  background-color: #030211;
}
.welcome-section .header .header__burger-btn div:first-child {
  margin-left: auto;
}
.welcome-section .header .header__burger-btn div:nth-child(2) {
  width: 25px;
}
.welcome-section .header .header__burger-btn div:last-child {
  margin-right: auto;
}
@media (max-width: 1024px) {
  .welcome-section .header .header__burger-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.welcome-section .welcome-main {
  margin: 0 0 0 25%;
  color: #211932;
  max-width: 630px;
  position: relative;
  z-index: 1;
}
.welcome-section .welcome-main .wellcome-main__pretitle {
  font-family: Martel;
  font-size: 3rem;
  line-height: 170%;
  color: #676767;
}
.welcome-section .welcome-main .welcome-main__title {
  font-family: Martel;
  font-size: 8rem;
  line-height: 168.75%;
}
.welcome-section .welcome-main .welcome-main__text {
  font-family: Inter;
  font-size: 2.5rem;
  line-height: 136%;
  margin: 0 0 4.4vh;
}
@media (max-width: 599px) {
  .welcome-section .welcome-main .welcome-main__title {
    font-size: 6rem;
  }
  .welcome-section .welcome-main .wellcome-main__pretitle {
    font-size: 2.3rem;
  }
  .welcome-section .welcome-main .welcome-main__text {
    font-size: 1.9rem;
  }
}
@media (max-width: 499px) {
  .welcome-section .welcome-main .wellcome-main__pretitle {
    font-size: 1.7rem;
  }
  .welcome-section .welcome-main .welcome-main__title {
    font-size: 4.5rem;
  }
  .welcome-section .welcome-main .welcome-main__text {
    font-size: 1.4rem;
  }
}
@media (max-width: 349px) {
  .welcome-section .welcome-main .wellcome-main__pretitle {
    font-size: 1.3rem;
  }
  .welcome-section .welcome-main .welcome-main__title {
    font-size: 3.4rem;
  }
  .welcome-section .welcome-main .welcome-main__text {
    font-size: 1.05rem;
  }
}
.welcome-section .welcome-main .welcome-main__button {
  margin: 0 0 10vh;
}
.welcome-section .welcome-main .welcome-main__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 7%;
          column-gap: 7%;
}
.welcome-section .welcome-main .welcome-main__contacts .welcome-main__contact {
  background-repeat: no-repeat;
}
.welcome-section .welcome-main .welcome-main__contacts .welcome-main_contact_phone {
  padding-left: 27px;
  background-image: url("../assets/images/welcome-section/phone.svg");
}
.welcome-section .welcome-main .welcome-main__contacts .welcome-main_contact_email {
  padding-left: 32px;
  background-image: url("../assets/images/welcome-section/mail.svg");
}
@media (max-width: 499px) {
  .welcome-section .welcome-main .welcome-main__contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 10px;
  }
}
@media (max-width: 1024px) {
  .welcome-section .welcome-main {
    margin: 0 auto;
  }
}

@media (max-width: 924px) {
  .welcome-section {
    background-position: right;
  }
}
@media (max-width: 399px) {
  .welcome-section {
    padding-top: 6vh;
  }
}
.about-me {
  padding: 6.2vw 0 6.8vw;
}
.about-me .about-me__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 1150px) and (max-width: 1274px) {
  .about-me .about-me__container {
    margin-left: 33%;
  }
}
@media (min-width: 1025px) and (max-width: 1149px) {
  .about-me .about-me__container {
    max-width: 47.5%;
    margin-left: 38%;
  }
}
.about-me .about-me__undertitle {
  margin: 0 0 20px;
}
.about-me .about-me__text {
  max-width: 885px;
}
.about-me .about-me__text:not(:last-child) {
  margin: 0 0 35px;
}
.about-me .about-me__text:last-child {
  margin: 0 0 44px;
}
.about-me .about-me__info {
  padding: 53px 4.6%;
  margin: 0 0 44px;
}
.about-me .about-me__info .about-parametr {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}
.about-me .about-me__info .about-parametr .about-parametr__title {
  color: #AB5429;
}
@media (max-width: 849px) {
  .about-me .about-me__info .about-parametr .about-parametr__title {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}
.about-me .about-me__info .about-parametr .about-parametr__data {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right;
}
@media (max-width: 1274px) {
  .about-me .about-me__info .about-parametr {
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
    margin: 0 auto;
  }
}
@media (min-width: 1025px) and (max-width: 1149px) {
  .about-me .about-me__info .about-parametr {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}
@media (max-width: 849px) {
  .about-me .about-me__info .about-parametr {
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
    margin: 0 auto;
  }
}
@media (max-width: 474px) {
  .about-me .about-me__info .about-parametr {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}
.about-me .about-me__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.5%;
          column-gap: 1.5%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about-me .about-me__bottom .about-me__bottom__btn svg {
  display: block;
  margin: 0 7px 0 0;
}
@media (max-width: 424px) {
  .about-me .about-me__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 20px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.services {
  padding: 12vw 0;
  background-image: url("../assets/images/services-section/background.jpg");
  background-size: cover;
}
@media (min-width: 1150px) and (max-width: 1274px) {
  .services .services__container {
    margin-left: 33%;
  }
}
@media (min-width: 1025px) and (max-width: 1149px) {
  .services .services__container {
    width: 58%;
    margin-left: 38%;
  }
}
.services .services__title {
  color: white;
}
.services .services__undertitle {
  background-color: #211932;
  margin: 0 0 5.7vw;
}
.services .services__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 3.4vw;
  color: white;
}
.services .services__main .service-card {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}
.services .services__main .service-card .service-card__icon {
  margin: 0 0 7px;
}
.services .services__main .service-card .secrvice-card__title {
  font-family: Martel;
  font-size: 2.5rem;
  line-height: 168%;
  margin: 0 0 8px;
}
.services .services__main .service-card .service-card__text {
  color: white;
}
@media (min-width: 1025px) and (max-width: 1149px) {
  .services .services__main .service-card {
    -ms-flex-preferred-size: 43%;
        flex-basis: 43%;
  }
}
@media (max-width: 949px) {
  .services .services__main .service-card {
    -ms-flex-preferred-size: 43%;
        flex-basis: 43%;
  }
}
@media (max-width: 674px) {
  .services .services__main .service-card {
    -ms-flex-preferred-size: 66%;
        flex-basis: 66%;
    margin: 0 auto;
  }
}
@media (max-width: 449px) {
  .services .services__main .service-card {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}
@media (max-width: 449px) {
  .services .services__main {
    row-gap: 40px;
  }
}

.my-skills {
  padding: 4.6vw 0 4.3vw;
}
.my-skills .my-skills__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-column-gap: 2.7%;
          column-gap: 2.7%;
}
.my-skills .my-skills__container .my-skills__undertitle {
  margin: 0 0 20px;
}
.my-skills .my-skills__container .my-skills__text {
  max-width: 400px;
}
.my-skills .my-skills__container .my-skills__text:not(:last-child) {
  margin: 0 0 35px;
}
.my-skills .my-skills__container .my-skills__right {
  position: relative;
  padding: 40px 0 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.my-skills .my-skills__container .my-skills__right .my-skills__image {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
}
.my-skills .my-skills__container .my-skills__right .my-skills__parameters {
  padding: 3.4vw 0 3.4vw 0;
  background-color: #f8f8f8;
  margin: 0 0 0 auto;
  position: relative;
  padding-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 26px;
  width: 100%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.my-skills .my-skills__container .my-skills__right .my-skills__parameters .parametr-skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 18px;
          column-gap: 18px;
  width: 54.5%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.my-skills .my-skills__container .my-skills__right .my-skills__parameters .parametr-skill p {
  font-family: Inter;
  font-size: 1.6rem;
  line-height: 137.5%;
  color: #AB5429;
}
.my-skills .my-skills__container .my-skills__right .my-skills__parameters .parametr-skill input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: rgba(255, 255, 255, 0);
  display: block;
  width: 75%;
}
.my-skills .my-skills__container .my-skills__right .my-skills__parameters .parametr-skill input[type=range]::-webkit-slider-runnable-track {
  height: 3px;
  background: #211932;
  border-radius: 3px;
}
.my-skills .my-skills__container .my-skills__right .my-skills__parameters .parametr-skill input[type=range]::-moz-range-track {
  height: 3px;
  background: #211932;
  border-radius: 3px;
}
.my-skills .my-skills__container .my-skills__right .my-skills__parameters .parametr-skill input[type=range]::-webkit-slider-thumb {
  width: 3px;
  height: 18.5px;
  background-color: #211932;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-top: -8px;
}
.my-skills .my-skills__container .my-skills__right .my-skills__parameters .parametr-skill input[type=range]::-moz-range-thumb {
  width: 3px;
  height: 18.5px;
  background-color: #211932;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.resume {
  padding: 7.8vw 0;
  background-image: url("../assets/images/resume-section/background.jpg");
  background-size: cover;
}
.resume .resume__title {
  color: white;
  text-align: center;
}
.resume .resume__undertitle {
  margin: 0 auto;
}
.resume .resume__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.resume .resume__main .resume__side {
  -ms-flex-preferred-size: 47%;
      flex-basis: 47%;
}
.resume .resume__main .resume__side .resume__main__title {
  color: white;
  margin: 0 0 27px;
}
.resume .resume__main .resume__side .resume__cards-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-column-gap: 8.4%;
          column-gap: 8.4%;
}
.resume .resume__main .resume__side .resume__cards-block .resume__way {
  width: 48px;
  height: 380px;
  margin: 0 0 0 auto;
}
.resume .resume__main .resume__side .resume__cards-block .resume__way div {
  background-color: #AB5429;
}
.resume .resume__main .resume__side .resume__cards-block .resume__way div:first-child {
  width: 100%;
  height: 2px;
}
.resume .resume__main .resume__side .resume__cards-block .resume__way div:last-child {
  width: 2px;
  height: 100%;
  margin: 0 auto;
}
.resume .resume__main .resume__side .resume__cards-block .resume__cards {
  margin: 0 0 0 auto;
  max-width: 65%;
}
.resume .resume__main .resume__side .resume__cards-block .resume__cards .card-resume {
  padding: 39px 7.5%;
  background-color: #f8f8f8;
  border-radius: 30px;
  position: relative;
  font-family: Inter;
  font-size: 1.8rem;
  line-height: 133.3333333333%;
}
.resume .resume__main .resume__side .resume__cards-block .resume__cards .card-resume:not(:last-child) {
  margin: 0 0 45px;
}
.resume .resume__main .resume__side .resume__cards-block .resume__cards .card-resume .card-resume__title {
  font-family: Martel;
  font-size: 2.5rem;
  line-height: 130.2%;
  color: #AB5429;
  margin: 0 0 4px;
}
.resume .resume__main .resume__side .resume__cards-block .resume__cards .card-resume .card-resume__undertitle {
  padding: 0 0 15px;
  border-bottom: 1px solid #a6a6a6;
  color: #211932;
  margin: 0 0 15px;
}
.resume .resume__main .resume__side .resume__cards-block .resume__cards .card-resume .card-resume__undertitle .card-resume__text {
  color: #484848;
}
.resume .resume__main .resume__side .resume__cards-block .resume__cards .card-resume .card-resume__stage {
  position: absolute;
  top: 49px;
  left: -50%;
  padding: 16px 6.5%;
  background: #211932;
  border-radius: 10px;
  font-family: Inter;
  font-size: 2rem;
  line-height: 135%;
  color: white;
  min-width: 55.5%;
}
.resume .resume__main .resume__side .resume__cards-block .resume__cards .card-resume .card-resume__stage .card-resume__stage__title {
  font-weight: 700;
}

.our-work {
  padding: 7.6vw 0 0;
  margin: 0 0 7.1vw;
}
.our-work .work-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 3.3vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.our-work .work-header .our-work__categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 4.1%;
          column-gap: 4.1%;
  min-width: 49%;
}
.our-work .work-header .our-work__categories .our-work__category {
  padding: 12px 2%;
  border-radius: 40px;
  color: #484848;
}
.our-work .work-header .our-work__categories .our-work__category.our-work__category_active {
  background-color: #f4f4f4;
}
.our-work .our-work__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 3%;
          column-gap: 3%;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.our-work .our-work__main .our-worm__main__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}
.our-work .our-work__main .our-worm__main__column img:not(:last-child) {
  margin: 0 0 47px;
}

.clients-section {
  padding: 6.9vw 0 0;
  color: #211932;
}
.clients-section .clients-section__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.clients-section .clients-section__undertitle {
  margin: 0 0 39px;
}
.clients-section .clients__carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 21px;
  max-width: 570px;
}
.clients-section .clients__carousel .clients__carousel__arrow {
  padding: 8px 9px;
  border-radius: 42px;
  background-color: #F3F3F3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  min-width: 111px;
}
.clients-section .clients__carousel .clients__carousel__arrow.clients__carousel__arrow_right svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.clients-section .clients__carousel .clients__carousel__arrow p {
  font-family: Inter;
  font-size: 1.8rem;
  line-height: 161.1111111111%;
}
.clients-section .clients__carousel .clients__carousel__clients-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 379px;
}
.clients-section .clients__carousel .clients__carousel__clients-block .clients__carousel__client {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 93px;
}
.clients-section .clients__carousel .clients__carousel__clients-block .clients__carousel__client img {
  margin: 0 0 14px;
}
.clients-section .clients__carousel .clients__carousel__clients-block .clients__carousel__client h3 {
  font-family: Martel;
  font-size: 2.5rem;
  line-height: 168%;
}
.clients-section .clients__carousel .clients__carousel__clients-block .clients__carousel__client p {
  font-family: Inter;
  font-size: 1.6rem;
  line-height: 137.5%;
  color: #AB5429;
  text-align: center;
}
.clients-section .clients-section__review {
  font-weight: 300;
  font-style: italic;
  color: #211932;
  text-align: center;
  max-width: 59%;
  margin: 0 0 9.3vw;
}
.clients-section .clients-section_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 4.3%;
          column-gap: 4.3%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.certification-section {
  padding: 7.2vw 0;
  background-image: url("../assets/images/certification-section/background.jpg");
  background-size: cover;
  margin: 0 0 7.65vw;
}
.certification-section .certification-section__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.certification-section .certification-section__container .certification-section__description {
  max-width: 27%;
}
.certification-section .certification-section__container .certification-section__description .certification-section__title {
  color: white;
}
.certification-section .certification-section__container .certification-section__description .certification-section__undertitle {
  background-color: #211932;
  margin: 0 0 21px;
}
.certification-section .certification-section__container .certification-section__description .certification-section__description__text {
  color: white;
}
.certification-section .certification-section__container .certification-section__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 2.3%;
          column-gap: 2.3%;
}
.certification-section .certification-section__container .certification-section__cards .card-certification {
  -ms-flex-preferred-size: 41%;
      flex-basis: 41%;
  padding: 35px;
  background-color: #211932;
  color: white;
  border-radius: 20px;
}
.certification-section .certification-section__container .certification-section__cards .card-certification .card-certification_year {
  padding: 2px 12px;
  background-color: white;
  border-radius: 40px;
  font-family: Inter;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 135.7142857143%;
  letter-spacing: 0.5px;
  color: #211932;
  margin: 0 0 12px auto;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}
.certification-section .certification-section__container .certification-section__cards .card-certification .card-certification__title-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 2.9%;
          column-gap: 2.9%;
  margin: 0 0 26px;
}
.certification-section .certification-section__container .certification-section__cards .card-certification .card-certification__title-block .card-certification__title {
  font-family: Cabin;
  font-weight: 600;
  font-size: 3rem;
  line-height: 105%;
}
.certification-section .certification-section__container .certification-section__cards .card-certification hr {
  width: 31%;
  height: 3px;
  background-color: #AB5429;
  margin: 0 0 32px;
}
.certification-section .certification-section__container .certification-section__cards .card-certification .card-certification__text {
  font-family: Martel;
  font-size: 2.5rem;
  line-height: 168%;
  margin: 0 0 18px;
  color: white;
}
.certification-section .certification-section__container .certification-section__cards .card-certification .card-certification__description {
  color: white;
  margin: 0 0 25px;
}

.let-is-talk {
  margin: 0 0 6.25vw;
}

.let-is-talk__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.let-is-talk__container .let-is-talk__undertitle {
  color: #484848;
  max-width: 60%;
  margin: 0 0 5.7%;
  text-align: center;
}
.let-is-talk__container .let-is-talk__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 2.9%;
          column-gap: 2.9%;
}
.let-is-talk__container .let-is-talk__main .let-is-talk__form {
  -ms-flex-preferred-size: 55%;
      flex-basis: 55%;
}
.let-is-talk__container .let-is-talk__main .cv-talk {
  -ms-flex-preferred-size: 39%;
      flex-basis: 39%;
  padding: 45px;
  border-radius: 30px;
  background-color: #f8f8f8;
}
.let-is-talk__container .let-is-talk__main .cv-talk .cv-talk__header {
  background-image: url("../assets/images/let-is-talk-section/cv-talk__header-image.svg");
  background-repeat: no-repeat;
  background-position: right;
  margin: 0 0 45px;
}
.let-is-talk__container .let-is-talk__main .cv-talk .cv-talk__header h3 {
  font-family: Martel;
  font-size: 3rem;
  line-height: 170%;
}
.let-is-talk__container .let-is-talk__main .cv-talk .cv-talk__header p {
  color: #AB5429;
}
.let-is-talk__container .let-is-talk__main .cv-talk .about-parametr {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.footer .footer__top {
  padding: 30px 0 0;
  border-top: 1px solid #dbdbdb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 30px;
}
.footer .footer__top .footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.8%;
          column-gap: 1.8%;
}
.footer .footer__top .footer__btn {
  background-color: #AB5429;
}
.footer hr {
  width: 100%;
  height: 1px;
  background-color: #dbdbdb;
  margin: 0 0 30px;
}
.footer .footer__bottom {
  padding: 0 0 30px;
}
.footer .footer__bottom ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 2.4%;
          column-gap: 2.4%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer .footer__bottom ul li {
  font-family: Inter;
  font-size: 1.8rem;
  line-height: 133.3333333333%;
  color: #211932;
}

.aside {
  position: absolute;
  top: 548px;
  left: 9.5vw;
  bottom: 0;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.aside .aside__info {
  padding: 65px 79px 40px;
  border-radius: 180px 180px 0 0;
  background-color: #211932;
  color: white;
}
.aside .aside__info .aside__image {
  margin: 0 0 40px;
}
.aside .aside__info .aside__title {
  font-family: Martel;
  font-size: 3rem;
  line-height: 170%;
  margin: 0 0 14px;
  text-align: center;
}
.aside .aside__info .aside__social-media {
  padding: 0 0 14px;
  border-bottom: 1px dashed #635b74;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 6.1%;
          column-gap: 6.1%;
  margin: 0 0 14px;
}
.aside .aside__info .aside__contacts p {
  color: white;
  text-align: center;
}
.aside .aside__info .aside__contacts p:not(:last-child) {
  margin-bottom: 14px;
}
.aside .aside__nav {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 3.3vw 15.5% 0;
  background-color: #171027;
  width: 100%;
}
.aside .aside__nav ul li a {
  display: block;
  padding: 8px 0;
  font-family: Martel;
  font-size: 2rem;
  line-height: 170%;
  text-align: center;
  color: #948F9F;
  border-bottom: 1px solid #372D4D;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.aside .aside__nav ul li a:hover {
  color: white;
  border-color: #AB5429;
}

@media (max-width: 1599px) {
  .aside {
    left: 4vw;
  }
}
@media (max-width: 1299px) {
  .aside {
    left: 0;
  }
}
@media (max-width: 1024px) {
  .aside {
    display: none;
  }
}
*, ul, p, h1, h2, h3, h4, button, body, input, ::before, ::after, div {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

ul, ol, li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

html, body {
  height: 100%;
  line-height: 1;
  font-size: 10px;
  color: #000;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  position: relative;
}

._container {
  margin: 0 auto 0 33%;
  max-width: 1218px;
  padding: 0 20px;
}

@media (max-width: 1274px) {
  ._container {
    margin-left: 17%;
  }
}
@media (max-width: 1024px) {
  ._container {
    margin: 0 auto;
  }
}
