@import "../styles/components.scss";
@import "../styles/welcome-section.scss";
@import "../styles/about-me-section.scss";
@import "../styles/services-section.scss";
@import "../styles/my-skills-section.scss";
@import "../styles/resume-section.scss";
@import "../styles/our-works.scss";
@import "../styles/clients-section.scss";
@import "../styles/certification-section.scss";

*, ul, p, h1, h2, h3, h4, button, body, input, ::before, ::after, div {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

ul, ol, li {
    list-style-type: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
    font-size: inherit;
}

html, body {
    height: 100%;
    line-height: 1;
    font-size: 10px;
    color: #000;
}

.wrapper {
    overflow: hidden;
    min-height: 100%;
}

._container {
    margin: 0 auto 0 33%;
    max-width: 1218px;
    padding: 0 20px;
}

@media (max-width: 1274px) {
    ._container {
        margin-left: 17%;
    }
}

@media (max-width: 1024px) {
    ._container {
        margin: 0 auto;
    }
}