.my-skills {
    padding: 4.6vw 0 4.3vw;

    .my-skills__container {
        display: flex;
        align-items: flex-end;
        column-gap: 2.7%;

        .my-skills__undertitle {
            margin: 0 0 20px;
        }

        .my-skills__text {
            max-width: 400px;

            &:not(:last-child) {
                margin: 0 0 35px;
            }
        }

        @media (max-width: 374px) {
            .my-skills__text {
                font-size: 1.35rem;
            }
        }

        .my-skills__right {
            position: relative;
            padding: 40px 0 0;
            flex-grow: 1;

            .my-skills__image {
                position: absolute;
                left: 0;
                bottom: 0;
                z-index: 1;
                max-width: 461px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            @media (max-width: 1499px) {
                .my-skills__image {
                    width: 80.5%;
                }
            }

            @media (max-width: 399px) {
                .my-skills__image {
                    display: none;
                }
            }

            .my-skills__parameters {
                padding: 3.4vw 20px 3.4vw 0;
                background-color: #f8f8f8;
                margin: 0 0 0 auto;
                position: relative;
                display: flex;
                flex-direction: column;
                row-gap: 26px;
                width: 100%;
                align-items: flex-end;
                border-radius: 30px;

                .parametr-skill {
                    display: flex;
                    column-gap: 18px;
                    width: 54.5%;
                    justify-content: flex-end;
                    align-items: center;
                    position: relative;
                    z-index: 1;

                    p {
                        font-family: Inter;
                        font-size: 1.6rem;
                        line-height: 22/16 * 100%;
                        color: $primary-color-1;
                    }

                    input {
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        appearance: none;
                        background: rgba(255, 255, 255, 0);
                        display: block;
                        width: 75%;
                        height: 3px;
                        border-radius: 3px;
                        background-color: $primary-color-2;
                    }

                    input[type=range]::-webkit-slider-thumb {
                        width: 3px;
                        height: 18.5px;
                        background-color: $primary-color-2;
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        appearance: none;
                        margin-top: -8px;
                    }
                      
                     input[type=range]::-moz-range-thumb {
                        width: 3px;
                        height: 18.5px;
                        background-color: $primary-color-2;
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        appearance: none;
                        position: absolute;

                      }
                }

                @media (max-width: 399px) {
                    .parametr-skill {
                        width: 100%;
                    }
                }
            }

            @media (max-width: 399px) {
                .my-skills__parameters {
                    padding-left: 20px;
                }
            }
        }

        @media (max-width: 1274px) {
            .my-skills__right {
                width: 100%;
            }
        }
    }

    @media (max-width: 1274px) {
        .my-skills__container {
            flex-direction: column;
            align-items: flex-start;
            row-gap: 100px;
        }
    }

    @media (max-width: 399px) {
        .my-skills__container {
            row-gap: 50px;
        }
    }

    @media (min-width: 1025px) and (max-width: 1274px) {
        .my-skills__container {
            width: 58%;
            margin-left: 38%;
        }
    }
    
}