.welcome-section {
    padding: 12vh 0 30vh;
    background: url("../assets/images/welcome-section/background.jpg");
    position: relative;
    background-size: cover;

    .welcome-section__substrate {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.25);
        display: none;
    }

    @media (min-width: 800px) and (max-width: 1675px) {
        .welcome-section__substrate {
            display: block;
        }
    }

    .header {
        display: flex;
        column-gap: 1.4%;
        margin: 0 0 11vh;
        position: relative;
        z-index: 1;
        justify-content: end;

        .header__main {
            padding: 15px 35px;
            border-radius: 35px;
            background-color: white;
            display: flex;
            column-gap: 16px;

            .header__section {

                &:first-child {
                    padding-right: 13px;
                    border-right: 1px solid $primary-color-1;
                }
            }
        }

        @media (max-width: 399px) {
            .header__main {
                display: none;
            }
        }

        .header__burger-btn {
            width: 58px;
            aspect-ratio: 1;
            border-radius: 100%;
            background-color: white;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            row-gap: 4px;
            padding: 0 16px;
            display: none;

            div {
                height: 2px;
                width: 12px;
                background-color: $font-color-1;

                &:first-child {
                    margin-left: auto;
                }

                &:nth-child(2) {
                    width: 25px;
                }

                &:last-child {
                    margin-right: auto;
                }
            }
        }

        @media (max-width: 1024px) {
            .header__burger-btn {
                display: flex;
            }
        }
    }

    .welcome-main {
        margin: 0 0 0 25%;
        color: $primary-color-2;
        max-width: 630px;
        position: relative;
        z-index: 1;

        .wellcome-main__pretitle {
            font-family: Martel;
            font-size: 3rem;
            line-height: 51/30 * 100%;
            color: #676767;
        }

        .welcome-main__title {
            font-family: Martel;
            font-size: 8rem;
            line-height: 135/80 * 100%;
        }

        .welcome-main__text {
            font-family: Inter;
            font-size: 2.5rem;
            line-height: 34/25 * 100%;
            margin: 0 0 4.4vh;
        }

        @media (max-width: 599px) {
            .welcome-main__title {
                font-size: 6rem;
            }

            .wellcome-main__pretitle {
                font-size: 2.3rem;
            }

            .welcome-main__text {
                font-size: 1.9rem;
            }
        }

        @media (max-width: 499px) {
            .wellcome-main__pretitle {
                font-size: 1.7rem;
            }

            .welcome-main__title {
                font-size: 4.5rem;
            } 
            
            .welcome-main__text {
                font-size: 1.4rem;
            }
        }

        @media (max-width: 349px) {
            .wellcome-main__pretitle {
                font-size: 1.3rem;
            }

            .welcome-main__title {
                font-size: 3.4rem;
            } 
            
            .welcome-main__text {
                font-size: 1.05rem;
            }
        }

        .welcome-main__button {
            margin: 0 0 10vh;
        }

        .welcome-main__contacts {
            display: flex;
            column-gap: 7%;

            .welcome-main__contact {
                background-repeat: no-repeat;
            }

            .welcome-main_contact_phone {
                padding-left: 27px;
                background-image: url("../assets/images/welcome-section/phone.svg");
            }

            .welcome-main_contact_email {
                padding-left: 32px;
                background-image: url("../assets/images/welcome-section/mail.svg");
            }
        }

        @media (max-width: 499px) {
            .welcome-main__contacts {
                flex-direction: column;
                align-items: center;
                row-gap: 10px;
            }
        }
    }

    @media (max-width: 1024px) {
        .welcome-main {
            margin: 0 auto;
        }
    }
}

@media (max-width: 924px) {
    .welcome-section {
        background-position: right;
    }
}

@media (max-width: 399px) {
    .welcome-section {
        padding-top: 6vh;
    }
}